* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.parent{
    background-color: rgb(0, 35, 69);
    width: 600px;
    height: 400px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.E{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    grid-template-rows: repeat(5,1fr);    
    width: 100px;
    height: 150px;
    /* background-color: bisque; */
    position: relative;
    
}
.E div {
  background-color: #fff;
}
.first{
    grid-row: 1/2 ;
    grid-column: 1 / 4;
}
.sec{
    grid-row: 1 / 6;    
    grid-column: 1 / 2;
}
.third {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}
.fourth {
    grid-row: 5/6 ;
    grid-column: 1 / 4;
}
.E .fifth {
  background-color: transparent;
}
.L{
    display: grid;
    width: 100px;
    height: 150px;
    grid-template-columns: repeat(3,1fr);    
    grid-template-rows: repeat(5,1fr);
    position: relative;
}
.L div {
  background-color: #fff;
}
.Pone{
    grid-row: 1/6 ;
    grid-column: 1 / 2;   
}
.Ptwo{
    grid-row: 5/6 ;
    grid-column: 1 / 4;
}
/* .L .Pthree, 
.L .Pfour, 
.L .Pfive {
  background-color: transparent;
} */
.E::before{
    content:" ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: orangered;
    animation:E 8s linear infinite;
} 
@keyframes E {
  0% { top: 0; left: 70px; }
  12% { top: 0; left: 0; }
  25% { top: 60px; left: 0; }
  37% { top: 60px; left: 70px; }
  50% { top: 60px; left: 0; }
  62% { top: 120px; left: 0; }
  75% { top: 120px; left: 70px; }
  87% { top: 120px; left: 0; }
  94% { top: 0; left: 0; }
  100% { top: 0; left: 70px; }
}
.L::before{
    content:" ";
    position: absolute;
    width: 20px;
    height: 15px;
    background-color: orangered;
    animation:L 4s linear infinite;
}
@keyframes L{
    0%{ top: 135px; left: 85px; }
    25%{ top: 135px; left: 0; }
    50%{ top: 0; left: 0; }
    75% { top: 135px; left: 0; }
    100%{ top: 135px; left: 85px; }    
}